<ul class="text-sm font-normal hidden md:flex">
  <li class="mx-3 py-4 font-medium text-green-500 border-b-2 border-green-500">
    <a href="#" class="inline-flex items-center">
      <i class="bx bx-home mr-1"></i>
      Home
    </a>
  </li>
  <li
    class="mx-3 py-4 text-gray-600 hover:text-gray-900 inline-block relative text-left"
  >
    <a
      href="#"
      class="inline-flex text-sm items-center text-gray-600 dropdown-toggle"
      data-dropdown="dropdownMenuDashboard"
    >
      <i class="bx bx-pie-chart-alt mr-1"></i>
      <span>Dashboard</span>
      <i class="bx bx-chevron-down ml-1"></i>
    </a>

    <div
      class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
      id="dropdownMenuDashboard"
    >
      <div
        class="rounded-md bg-white shadow-xs"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="options-menu"
      >
        <div class="py-1">
          <a
            href="./../index.html"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Dashboard v1</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Dashboard v2</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Dashboard v3</a
          >
        </div>
      </div>
    </div>
  </li>
  <li
    class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left"
  >
    <a
      href="#"
      class="inline-flex items-center dropdown-toggle"
      data-dropdown="uiComponentMenu"
    >
      <i class="bx bx-outline mr-1"></i>
      <span>UI Component</span>
      <i class="bx bx-chevron-down ml-1"></i>
    </a>

    <div
      class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
      id="uiComponentMenu"
    >
      <div
        class="rounded-md bg-white shadow-xs"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="options-menu"
      >
        <div class="py-1">
          <a
            href="./form.html"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Form</a
          >
          <a
            href="./card.html"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Card</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Chart</a
          >
          <a
            href="./button.html"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Buttons</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Dropdown</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Navbar</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Maps</a
          >
        </div>
      </div>
    </div>
  </li>
  <li
    class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left"
  >
    <a
      href="#"
      class="inline-flex items-center dropdown-toggle"
      data-dropdown="pagesNav"
    >
      <i class="bx bx-book mr-1"></i>
      <span>Pages</span>
      <i class="bx bx-chevron-down ml-1"></i>
    </a>

    <div
      class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
      id="pagesNav"
    >
      <div
        class="rounded-md bg-white shadow-xs"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="options-menu"
      >
        <div class="py-1">
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Login</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Register</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >User Profile</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >User Settings</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Blog</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Timeline</a
          >
        </div>
      </div>
    </div>
  </li>
  <li
    class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left"
  >
    <a
      href="#"
      class="inline-flex items-center dropdown-toggle"
      data-dropdown="layoutNav"
      ><i class="bx bx-dock-right mr-1"></i>
      <span> Layout</span>
      <i class="bx bx-chevron-down ml-1"></i
    ></a>

    <div
      class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
      id="layoutNav"
    >
      <div
        class="rounded-md bg-white shadow-xs"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="options-menu"
      >
        <div class="py-1">
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Vertical</a
          >
          <a
            href="#"
            class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
            >Vertical fluid</a
          >
        </div>
      </div>
    </div>
  </li>
</ul>
