<!-- Footer -->
<div class="max-w-screen-xl mx-auto mb-4">
  <div class="mt-4 mx-2 flex justify-between items-center">
    <div class="text-gray-600">MIT License- Copyright (c) 2021 <strong class="font-bold">Under-X</strong></div>
  </div>
</div>
<!-- End footer -->
