<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= header.title %></title>

  <!-- Tailwind css  -->
  <link rel="stylesheet" href="./../dist/css/tailwind.min.css" />
  <!-- Box icon  -->
  <link
    rel="stylesheet"
    href="./../dist/libs/boxicons/css/boxicons.min.css"
  />

  <!-- Jquery plugin js -->
  <script src="./../dist/libs/jquery/jquery.slim.min.js"></script>
  <!-- Apex chart plugins js -->
  <script src="./../dist/libs/apexcharts/apexcharts.min.js"></script>
  <!-- Core js -->
  <script src="./../dist/js/jakarta-lte.min.js"></script>
</head>