<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Jakarta LTE - Free and Open Source Premium Admin Templates with rich UI
      Kit base on Tailwind CSS
    </title>

    <!-- Tailwind css  -->
    <link rel="stylesheet" href="./../../dist/css/tailwind.min.css" />
    <!-- Box icon  -->
    <link
      rel="stylesheet"
      href="./../../dist/libs/boxicons/css/boxicons.min.css"
    />

    <!-- Jquery plugin js -->
    <script src="./../../dist/libs/jquery/jquery.slim.min.js"></script>
    <!-- Apexchart plugins js -->
    <script src="./../../dist/libs/apexcharts/apexcharts.min.js"></script>
    <!-- Core js -->
    <script src="./../../dist/js/jakarta-lte.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <!-- Nabar -->
    <nav class="bg-white border-b border-gray-400">
      <div
        class="flex items-center justify-between flex-wrap mx-auto max-w-screen-xl"
      >
        <div class="flex items-center mx-2 py-3 md:py-0">
          <div class="flex items-center">
            <button class="md:hidden mx-3">
              <i class="text-2xl bx bx-menu"></i>
            </button>
            <a href="#" class="font-bold text-xl pr-6"
              >Jakarta<span class="text-gray-500 font-normal">LTE</span></a
            >
          </div>
          <ul class="text-sm font-normal hidden md:flex">
            <li
              class="mx-3 py-4 font-medium text-green-500 border-b-2 border-green-500"
            >
              <a href="#" class="inline-flex items-center">
                <i class="bx bx-home mr-1"></i>
                Home
              </a>
            </li>
            <li
              class="mx-3 py-4 text-gray-600 hover:text-gray-900 inline-block relative text-left"
            >
              <a
                href="#"
                class="inline-flex text-sm items-center text-gray-600 dropdown-toggle"
                data-dropdown="dropdownMenuDashboard"
              >
                <i class="bx bx-pie-chart-alt mr-1"></i>
                <span>Dashboard</span>
                <i class="bx bx-chevron-down ml-1"></i>
              </a>

              <div
                class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                id="dropdownMenuDashboard"
              >
                <div
                  class="rounded-md bg-white shadow-xs"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="options-menu"
                >
                  <div class="py-1">
                    <a
                      href="./../../index.html"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Dashboard v1</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Dashboard v2</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Dashboard v3</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li
              class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left"
            >
              <a
                href="#"
                class="inline-flex items-center dropdown-toggle"
                data-dropdown="uiComponentMenu"
              >
                <i class="bx bx-outline mr-1"></i>
                <span>UI Component</span>
                <i class="bx bx-chevron-down ml-1"></i>
              </a>

              <div
                class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                id="uiComponentMenu"
              >
                <div
                  class="rounded-md bg-white shadow-xs"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="options-menu"
                >
                  <div class="py-1">
                    <a
                      href="./../../pages/components/card.html"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Card</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Chart</a
                    >
                    <a
                      href="./../../pages/components/button.html"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Buttons</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Dropdown</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Navbar</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Maps</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li
              class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left"
            >
              <a
                href="#"
                class="inline-flex items-center dropdown-toggle"
                data-dropdown="pagesNav"
              >
                <i class="bx bx-book mr-1"></i>
                <span>Pages</span>
                <i class="bx bx-chevron-down ml-1"></i>
              </a>

              <div
                class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                id="pagesNav"
              >
                <div
                  class="rounded-md bg-white shadow-xs"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="options-menu"
                >
                  <div class="py-1">
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Login</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Register</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >User Profile</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >User Settings</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Blog</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Timeline</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li
              class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left"
            >
              <a
                href="#"
                class="inline-flex items-center dropdown-toggle"
                data-dropdown="layoutNav"
                ><i class="bx bx-dock-right mr-1"></i>
                <span> Layout</span>
                <i class="bx bx-chevron-down ml-1"></i
              ></a>

              <div
                class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                id="layoutNav"
              >
                <div
                  class="rounded-md bg-white shadow-xs"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="options-menu"
                >
                  <div class="py-1">
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Vertical</a
                    >
                    <a
                      href="#"
                      class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700"
                      >Vertical fluid</a
                    >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="flex items-center">
          <button class="mt-1 relative mx-2">
            <i class="bx bx-bell text-xl text-gray-600"></i>
            <span
              aria-hidden="true"
              class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"
            ></span>
          </button>

          <div class="inline-block relative text-left">
            <a
              class="flex items-center mx-2 dropdown-toggle"
              href=""
              data-dropdown="dropDownMenu"
            >
              <img
                class="w-8 h-8 mr-3 rounded-full object-cover"
                src="./../../dist/avatar/nis.png"
                alt="Avatar"
              />
              <div class="mt-1 hidden md:block">
                <div class="leading-3 text-sm text-gray-700">
                  Zero Black Coder
                </div>
                <small class="text-xs text-gray-500">Anggota DPR</small>
              </div>
            </a>

            <div
              class="origin-top-right absolute right-0 mt-3 z-56 w-56 rounded-md shadow-lg hidden"
              id="dropDownMenu"
            >
              <div
                class="rounded-md bg-white shadow-xs"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="options-menu"
              >
                <div class="py-1">
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                    role="menuitem"
                    >Settings</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                    role="menuitem"
                    >Logout</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End navbar -->

    <!-- Wraper -->
    <div class="max-w-screen-xl mx-auto">
      <!-- Title -->
      <div class="mt-4 mx-4 md:flex justify-between items-center">
        <div>
          <h3 class="text-gray-600 text-sm">
            <a href="" class="text-green-600"
              ><i class="bx bx-home mr-1"></i>Home</a
            >
            / Cards
          </h3>
        </div>
      </div>
      <!-- End title -->

      <div class="mt-3">
        <div class="mx-4">
          <h1 class="text-2xl font-medium text-gray-700">Card</h1>
          <span class="text-base text-gray-600">Simple card style </span>
        </div>
        <div class="flex flex-wrap">
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <div class="py-3 px-4 border-b flex justify-between items-center">
                <h2 class="text-lg font-medium text-gray-700">
                  Card title here
                </h2>
                <a href="#">
                  <i class="text-lg text-gray-700 bx bx-chevron-down ml-1"></i>
                </a>
              </div>
              <div class="py-3 px-4 text-gray-600 border-b">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptates velit ad deserunt, est voluptatum modi! Molestias ut
                blanditiis ullam unde vero delectus pariatur, iste labore
                debitis, vitae nobis ex libero.
              </div>
              <div class="py-3 px-4">
                <button
                  class="px-4 py-2 text-sm border border-transparent rounded bg-green-500 text-white hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green active:bg-green-500 transition duration-150 ease-in-out inline-flex items-center mr-1"
                >
                  <i class="bx bx-edit text-white mr-2 text-base"></i>
                  Edit
                </button>
                <button
                  class="px-4 py-2 border border-gray-400 text-sm mx-1 rounded bg-white hover:bg-gray-100 focus:outline-none focus:shadow-outline-white active:bg-white transition duration-150 ease-in-out inline-flex items-center"
                >
                  <i class="bx bx-x text-gray-700 mr-2 text-base"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <div class="m-4">
                <div>
                  <a href="" class="text-2xl font-medium text-gray-700">
                    Card title here
                  </a>
                </div>
                <div class="my-2">
                  <p class="text-gray-600 my-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptates velit ad deserunt, est voluptatum modi! Molestias
                    ut blanditiis ullam unde vero delectus pariatur, iste labore
                    debitis, vitae nobis ex libero.
                  </p>
                </div>
                <div class="mt-6">
                  <div class="flex justify-between items-center">
                    <a class="flex justify-between items-center" href="">
                      <img
                        class="w-10 h-10 rounded-full object-cover"
                        src="./../../dist/avatar/nis.png"
                        alt="Avatar"
                      />
                      <div class="ml-3">
                        <p class="text-gray-700 text-sm block leading-none">
                          Linus Torvalds
                        </p>
                        <small class="text-xs text-gray-600"
                          >16 Jul 2020 - 3 Minutes read</small
                        >
                      </div>
                    </a>
                    <div>
                      <button
                        class="text-gray-700 hover:text-gray-600 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                      >
                        <i class="bx bx-bookmark text-xl"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <div class="pt-3 pb-2 px-4">
                <h2 class="text-2xl font-medium text-gray-700">
                  Card title here
                </h2>
                <small class="text-gray-600 text-sm"
                  >5 days ago - Zero Black Coder
                </small>
              </div>
              <div class="py-2 px-4 text-gray-600">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptates velit ad deserunt, est voluptatum modi! Molestias ut
                blanditiis ullam unde vero delectus pariatur.
              </div>
              <div class="py-2 mb-3 px-4">
                <button
                  class="text-gray-600 hover:text-red-600 focus:outline-none focus:shadow-outline-blue active:text-red-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                >
                  <i class="bx bx-heart text-xl"></i>
                </button>
                <button
                  class="text-gray-600 hover:text-gray-700 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                >
                  <i class="bx bx-bookmark text-xl"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div>
        <!-- Title -->
        <div class="mx-4 mt-2">
          <h1 class="text-2xl text font-medium text-gray-700">Profile</h1>
          <span class="text-base text-gray-600">Profile card style</span>
        </div>
        <!-- End Title -->

        <div class="flex flex-wrap">
          <div class="md:w-1/4">
            <div class="bg-white border rounded m-4">
              <div class="py-8 px-4">
                <a href="">
                  <img
                    class="rounded-full mx-auto h-24 w-24 object-cover"
                    src="./../../dist/avatar/nis.png"
                    alt=""
                  />
                </a>
                <div class="py-4 text-center text-xl">
                  <h1 class="leading-3 font-medium text-xl">
                    Zero Black Coder
                  </h1>
                  <span class="text-sm text-gray-700 font-normal leading-3"
                    >zrcoder101@gmail.com</span
                  >
                  <p class="text-sm text-gray-600 leading-5 mt-3">
                    Zero Black Coder is an Member of DPR living in panet namek,
                    i love to play with hooman
                  </p>
                </div>
                <div class="px-8 pb-4 pt-2 flex justify-between items-center">
                  <div>
                    <div class="text-center text-xl font-base text-gray-500">
                      <i class="bx bx-camera"></i>
                    </div>
                    <div
                      class="text-center text-xl font-medium text-gray-700 leading-none"
                    >
                      126
                    </div>
                  </div>

                  <div>
                    <div class="text-center text-xl font-base text-gray-500">
                      <i class="bx bx-bookmark"></i>
                    </div>
                    <div
                      class="text-center text-xl font-medium text-gray-700 leading-none"
                    >
                      897
                    </div>
                  </div>
                  <div>
                    <div class="text-center text-xl font-base text-gray-500">
                      <i class="bx bx-user"></i>
                    </div>
                    <div
                      class="text-center text-xl font-medium text-gray-700 leading-none"
                    >
                      551K
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <button
                    class="py-2 w-full text-sm border border-transparent rounded bg-green-500 text-white hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-blue active:bg-green-500 transition duration-150 ease-in-out inline-flex justify-center items-center"
                  >
                    <i class="bx bx-user-plus text-lg text-white mr-4"></i>
                    Add Friends
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="md:w-1/4">
            <div class="bg-white border rounded m-4">
              <div class="py-10 px-6">
                <a href="">
                  <img
                    class="rounded-full mx-auto h-24 w-24 object-cover"
                    src="./../../dist/avatar/nis.png"
                    alt=""
                  />
                </a>
                <div class="py-4 text-center text-xl">
                  <h1 class="leading-5 font-medium text-xl">
                    Zero Black Coder
                  </h1>
                  <span class="text-base text-gray-600 font-normal"
                    >@zrcoder101</span
                  >
                </div>
                <div class="px-4 pb-4 text-center">
                  <button
                    class="px-6 py-2 text-sm border border-transparent rounded bg-green-500 text-white hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-blue active:bg-green-500 transition duration-150 ease-in-out inline-flex items-center m-1"
                  >
                    <i class="bx bx-user text-white mr-4 text-base"></i>
                    Follow Me
                  </button>
                </div>
                <div class="px-4 pt-4 flex justify-between items-center">
                  <div>
                    <span
                      class="block text-center text-2xl font-medium text-gray-700"
                      >112K</span
                    >
                    <span class="text-gray-600 text-sm text-center"
                      >Followers</span
                    >
                  </div>
                  <div>
                    <span
                      class="block text-center text-2xl font-medium text-gray-700"
                      >52</span
                    >
                    <span class="text-gray-600 text-sm text-center"
                      >Followings</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="md:w-1/4">
            <div class="bg-white border rounded m-4">
              <div class="py-8 px-4">
                <a href="">
                  <img
                    class="rounded-full mx-auto h-24 w-24 object-cover"
                    src="./../../dist/avatar/nis.png"
                    alt=""
                  />
                </a>
                <div class="py-4 text-center text-xl">
                  <h1 class="leading-3 font-medium text-xl">
                    Zero Black Coder
                  </h1>
                  <span class="text-sm text-gray-600 font-base leading-3"
                    >Sowftware Engineer</span
                  >
                  <div class="text-gray-600">
                    <a href="#" class="hover:text-gray-700">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="" class="hover:text-gray-700">
                      <i class="bx bxl-github"></i>
                    </a>
                    <a href="#" class="hover:text-gray-700">
                      <i class="bx bxl-instagram"></i>
                    </a>
                  </div>
                  <p class="text-sm text-gray-600 leading-5 mt-3">
                    Zero Black Coder is an Member of DPR living in panet namek,
                    I love to play with hooman
                  </p>
                </div>
                <div class="px-4">
                  <button
                    class="py-2 w-full text-sm border border-transparent rounded bg-green-500 text-white hover:bg-green-400 focus:outline-none focus:border-green-400 focus:shadow-outline-blue active:bg-green-500 transition duration-150 ease-in-out inline-flex justify-center items-center"
                  >
                    Hire Me
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="md:w-1/4">
            <div class="bg-white border rounded m-4">
              <a href="">
                <img
                  class="rounded-t h-64 w-full object-cover"
                  src="./../../dist/images/5.jpg"
                  alt=""
                />
              </a>
              <div class="px-4 py-3 border-b">
                <div>
                  <a
                    href=""
                    class="font-medium text-gray-700 text-lg block leading-5"
                  >
                    Zero Black Coder
                  </a>
                  <span class="text-gray-500 text-sm">Member DPR</span>
                </div>
                <div class="my-2">
                  <p class="text-gray-600 text-sm">
                    Zero Black Coder is an Member of DPR living in panet namek.
                  </p>
                </div>
              </div>
              <div class="px-4 py-2 flex justify-between items-center">
                <div
                  class="inline-flex items-center justify-between text-gray-600"
                >
                  <i class="bx bxs-user mr-2"></i>
                  <span class="text-sm">25 Freinds</span>
                </div>
                <div>
                  <span class="text-gray-600 text-sm">Joined in 2077</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->

      <!-- Content -->
      <div>
        <!-- Title -->
        <div class="mx-4 mt-2">
          <h1 class="text-2xl text font-medium text-gray-700">Blog</h1>
          <span class="text-base text-gray-600">Blog card style</span>
        </div>
        <!-- End title -->
        <div class="flex flex-wrap">
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <a href="">
                <img
                  class="rounded-t h-48 w-full object-cover"
                  src="./../../dist/images/2.jpg"
                  alt=""
                />
              </a>
              <div class="m-4">
                <div>
                  <a href="" class="font-bold text-gray-700 text-xl">
                    I suck at programming, but I love it. What should I do?
                  </a>
                </div>
                <div class="my-4">
                  <p class="text-gray-600 my-2">
                    At level zero you know nothing, however when you learn a
                    thing or two basic things about programming, you now get to
                    level 1 ...
                  </p>
                </div>
                <div class="mt-6">
                  <div class="flex justify-between items-center">
                    <a class="flex justify-between items-center" href="">
                      <img
                        class="w-10 h-10 rounded-full object-cover"
                        src="./../../dist/avatar/nis.png"
                        alt="Avatar"
                      />
                      <div class="ml-3">
                        <p class="text-gray-700 block leading-none">
                          Zero Black Coder
                        </p>
                        <small class="text-xs text-gray-600"
                          >16 Jul 2020 - 3 Minutes read</small
                        >
                      </div>
                    </a>
                    <div>
                      <button
                        class="text-gray-700 hover:text-gray-600 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                      >
                        <i class="bx bx-bookmark text-xl"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <a href="">
                <img
                  class="h-48 w-full rounded-t object-cover"
                  src="./../../dist/images/3.jpg"
                  alt=""
                />
              </a>
              <div class="m-4">
                <div class="my-4">
                  <div class="flex justify-between items-center">
                    <a class="flex justify-between items-center" href="">
                      <img
                        class="w-10 h-10 rounded-full object-cover"
                        src="./../../dist/avatar/nis.png"
                        alt="Avatar"
                      />
                      <div class="ml-3">
                        <p class="text-gray-700 text-sm block leading-none">
                          Mariana Azevedo
                        </p>
                        <small class="text-xs text-gray-600"
                          >Today - 3 Minutes read</small
                        >
                      </div>
                    </a>
                    <div>
                      <button
                        class="text-gray-700 hover:text-gray-600 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                      >
                        <i class="bx bx-bookmark text-xl"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="my-4">
                  <a href="" class="font-bold text-gray-700 text-xl">
                    S.O.L.I.D principles: what are they and why projects should
                    use them
                  </a>
                </div>

                <div class="my-4">
                  <p class="text-gray-600 my-2">
                    At level zero you know nothing, however when you learn a
                    thing or two basic things about programming, you now get to
                    level 1 ...
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <div class="m-4">
                <div class="flex justify-between items-center">
                  <a class="flex justify-between items-center" href="">
                    <img
                      class="w-10 h-10 rounded-full object-cover"
                      src="./../../dist/avatar/nis.png"
                      alt="Avatar"
                    />
                    <div class="ml-3">
                      <p class="text-gray-700 text-sm block leading-none">
                        Mariana Azevedo
                      </p>
                      <small class="text-xs text-gray-600"
                        >Today - 3 Minutes read</small
                      >
                    </div>
                  </a>
                  <div>
                    <button
                      class="text-gray-700 hover:text-gray-600 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                    >
                      <i class="bx bx-bookmark text-xl"></i>
                    </button>
                  </div>
                </div>
              </div>
              <a href="">
                <img
                  class="h-48 w-full object-cover"
                  src="./../../dist/images/4.jpg"
                  alt=""
                />
              </a>
              <div class="m-4">
                <div>
                  <a href="" class="font-bold text-gray-700 text-xl">
                    S.O.L.I.D principles: what are they and why projects should
                    use them
                  </a>
                </div>
                <div class="my-4">
                  <p class="text-gray-600 my-2">
                    At level zero you know nothing, however when you learn a
                    thing or two basic things about programming, you now get to
                    level 1 ...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <div class="m-4">
                <div>
                  <a href="" class="font-bold text-gray-700 text-xl">
                    S.O.L.I.D principles: what are they and why projects should
                    use them
                  </a>
                </div>
                <div class="my-4">
                  <p class="text-gray-600 my-2">
                    At level zero you know nothing, however when you learn a
                    thing or two basic things about programming, you now get to
                    level 1 ...
                  </p>
                </div>
                <div>
                  <div class="flex justify-between items-center">
                    <a class="flex justify-between items-center" href="">
                      <img
                        class="w-10 h-10 rounded-full object-cover"
                        src="./../../dist/avatar/nis.png"
                        alt="Avatar"
                      />
                      <div class="ml-3">
                        <p class="text-gray-700 text-sm block leading-none">
                          Mariana Azevedo
                        </p>
                        <small class="text-xs text-gray-600"
                          >Today - 3 Minutes read</small
                        >
                      </div>
                    </a>
                    <div>
                      <button
                        class="text-gray-700 hover:text-gray-600 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                      >
                        <i class="bx bx-bookmark text-xl"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <div class="m-4">
                <div>
                  <a href="" class="font-bold text-gray-700 text-xl"
                    >Talk is cheap. Show me the code - Linus Torvalds
                  </a>
                </div>
                <div class="my-4">
                  <p class="text-gray-600 my-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo, ex autem? Nisi minus porro pariatur quaerat officia
                    asperiores officiis...
                  </p>
                </div>
                <div>
                  <div class="flex justify-between items-center">
                    <a class="flex justify-between items-center" href="">
                      <img
                        class="w-10 h-10 rounded-full object-cover"
                        src="./../../dist/avatar/nis.png"
                        alt="Avatar"
                      />
                      <div class="ml-3">
                        <p class="text-gray-700 text-sm block leading-none">
                          Mariana Azevedo
                        </p>
                        <small class="text-xs text-gray-600"
                          >Today - 3 Minutes read</small
                        >
                      </div>
                    </a>
                    <div>
                      <button
                        class="text-gray-700 hover:text-gray-600 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                      >
                        <i class="bx bx-bookmark text-xl"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md:w-1/3">
            <div class="bg-white border rounded m-4">
              <div class="m-4">
                <div>
                  <a href="" class="font-bold text-gray-700 text-xl">
                    I suck at programming, but I love it. What should I do?
                  </a>
                </div>
                <div class="my-4">
                  <p class="text-gray-600 my-2">
                    At level zero you know nothing, however when you learn a
                    thing or two basic things about programming, you now get to
                    level 1 ...
                  </p>
                </div>
                <div>
                  <div class="flex justify-between items-center">
                    <a class="flex justify-between items-center" href="">
                      <img
                        class="w-10 h-10 rounded-full object-cover"
                        src="./../../dist/avatar/nis.png"
                        alt="Avatar"
                      />
                      <div class="ml-3">
                        <p class="text-gray-700 text-sm block leading-none">
                          Mariana Azevedo
                        </p>
                        <small class="text-xs text-gray-600"
                          >Today - 3 Minutes read</small
                        >
                      </div>
                    </a>
                    <div>
                      <button
                        class="text-gray-700 hover:text-gray-600 focus:outline-none focus:shadow-outline-blue active:text-gray-700 transition duration-150 ease-in-out m-1 inline-flex items-center"
                      >
                        <i class="bx bx-bookmark text-xl"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
    <!-- End wrapper -->
    <!-- Footer -->
    <div class="max-w-screen-xl mx-auto">
      <div class="mt-4 mx-2 flex justify-between items-center">
        <div>MIT License- Copyright (c) 2020 <b>Under-X</b></div>
      </div>
    </div>
    <!-- End footer -->
  </body>
</html>
